.Template {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Template .TestTubesWrapper {
  flex-grow: 1;
}

.Template .SidepanelWrapper {
  flex-grow: 0;
}
